# Sales Analysis
This notebook provides a comprehensive sales analysis using the dataset `dataset_supermarket_sales.csv`.

In [3]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt

# Load the dataset
df = pd.read_csv('dataset_supermarket_sales.csv')
df.head(1)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,cogs,Date,Time,Payment,Rating
0,750-67-8428,A,Trichy,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,522.83,01-05-2019,13.08,Ewallet,9.1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Invoice ID     1000 non-null   object
 1   Branch         1000 non-null   object
 2   City           1000 non-null   object
 3   Customer type  1000 non-null   object
 4   Gender         1000 non-null   object
 5   Product line   999 non-null    object
 6   Unit price     999 non-null    float64
 7   Quantity       1000 non-null   int64
 8   Tax 5%         1000 non-null   float64
 9   Total          1000 non-null   float64
 10  cogs           1000 non-null   float64
 11  Date           1000 non-null   object
 12  Time           1000 non-null   float64
 13  Payment        1000 non-null   object
 14  Rating         1000 non-null   float64
dtypes: float64(6), int64(1), object(8)
memory usage: 117.3+ KB

In [5]:
df.describe()

,Unit price,Quantity,Tax 5%,Total,cogs,Time,Rating
count,999.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.00000
mean,55.641461,5.510000,15.379369,322.966749,307.58738,15.210980,6.97270
std,26.490134,2.923431,11.708825,245.885335,234.17651,3.187043,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,10.000000,4.00000
25%,32.850000,3.000000,5.924875,124.422375,118.49750,12.430000,5.50000
50%,55.070000,5.000000,12.088000,253.848000,241.76000,15.190000,7.00000
75%,77.825000,8.000000,22.445250,471.350250,448.90500,18.150000,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,20.590000,10.00000

In [6]:
df["Total"].mean()

322.966749

In [8]:
# Convert 'Date' to datetime format
df['Date'] = pd.to_datetime(df['Date'])
# Extract hour from 'Time'
# df['Hour'] = df['Time'].apply(lambda x: int(x.split(':')[0]))

## 1. Descriptive Statistics

In [9]:
# Total Sales
total_sales = df['Total'].sum()
total_sales

322966.749

In [10]:
# Average Sales
average_sales = df['Total'].mean()
average_sales

322.966749

### Sales by Branch

In [11]:
# Sales by Branch
sales_by_branch = df.groupby('Branch')['Total'].sum()
sales_by_branch

Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

### Sales by City

In [12]:
# Sales by City
sales_by_city = df.groupby('City')['Total'].sum()
sales_by_city

City
Chennai    110568.7065
Trichy     106200.3705
karur      106197.6720
Name: Total, dtype: float64

### Sales by Customer Type

In [13]:
# Sales by Customer Type
sales_by_customer_type = df.groupby('Customer type')['Total'].sum()
sales_by_customer_type

Customer type
Member    164223.444
Normal    158743.305
Name: Total, dtype: float64

### Sales by Gender

In [7]:
# Sales by Gender
sales_by_gender = df.groupby('Gender')['Total'].sum()
sales_by_gender

Gender
Female    167882.925
Male      155083.824
Name: Total, dtype: float64

### Sales by Product Line

In [14]:
# Sales by Product Line
sales_by_product_line = df.groupby('Product line')['Total'].sum()
sales_by_product_line

Product line
Electronic accessories    54337.5315
Fashion accessories       54305.8950
Food and beverages        56144.8440
Health and beauty         49193.7390
Home and lifestyle        53089.5330
Sports and travel         55122.8265
Name: Total, dtype: float64

### Sales by Payment Method

In [9]:
# Sales by Payment Method
sales_by_payment = df.groupby('Payment')['Total'].sum()
sales_by_payment

Payment
Cash           112206.570
Credit card    100767.072
Ewallet        109993.107
Name: Total, dtype: float64

### Average Rating by Product Line

In [17]:
# Average Rating by Product Line
average_rating_by_product_line = df.groupby('Product line')['Rating'].mean()
average_rating_by_product_line

Product line
Electronic accessories    6.924706
Fashion accessories       7.029213
Food and beverages        7.113218
Health and beauty         7.003289
Home and lifestyle        6.837500
Sports and travel         6.916265
Name: Rating, dtype: float64

## 2. Time Series Analysis

### Monthly Sales Trend

In [15]:
# Monthly Sales Trend
monthly_sales_trend = df.resample('M', on='Date')['Total'].sum()
monthly_sales_trend

Date
2019-01-31    116291.868
2019-02-28     97219.374
2019-03-31    109455.507
Freq: M, Name: Total, dtype: float64

### Daily Sales Trend

In [24]:
# Daily Sales Trend
daily_sales_trend = df.resample('D', on='Date')['Total'].sum()
daily_sales_trend

Date
2019-01-01    4745.1810
2019-01-02    1945.5030
2019-01-03    2078.1285
2019-01-04    1623.6885
2019-01-05    3536.6835
                ...
2019-03-26    1962.5130
2019-03-27    2902.8195
2019-03-28    2229.4020
2019-03-29    4023.2430
2019-03-30    4487.0595
Freq: D, Name: Total, Length: 89, dtype: float64

### Sales by Hour of the Day

In [27]:
# Sales by Hour
sales_by_hour = df.groupby('Hour')['Total'].sum()
sales_by_hour

Hour
10    31421.4810
11    30377.3295
12    26065.8825
13    34723.2270
14    30828.3990
15    31179.5085
16    25226.3235
17    24445.2180
18    26030.3400
19    39699.5130
20    22969.5270
Name: Total, dtype: float64

## 3. Customer Analysis

### Sales by Customer Type

In [28]:
# Sales by Customer Type
sales_by_customer_type = df.groupby('Customer type')['Total'].sum()
sales_by_customer_type

Customer type
Member    164223.444
Normal    158743.305
Name: Total, dtype: float64

### Sales by Gender

In [29]:
# Sales by Gender
sales_by_gender = df.groupby('Gender')['Total'].sum()
sales_by_gender

Gender
Female    167882.925
Male      155083.824
Name: Total, dtype: float64

### Average Purchase per Customer

In [30]:
# Average Purchase per Customer
average_purchase_per_customer = df['Total'].mean()
average_purchase_per_customer

322.966749

## 4. Product Analysis

### Sales by Product Line

In [31]:
# Sales by Product Line
sales_by_product_line = df.groupby('Product line')['Total'].sum()
sales_by_product_line

Product line
Electronic accessories    54337.5315
Fashion accessories       54305.8950
Food and beverages        56144.8440
Health and beauty         49193.7390
Home and lifestyle        53861.9130
Sports and travel         55122.8265
Name: Total, dtype: float64

### Most and Least Popular Products

In [32]:
# Most Popular Products
most_popular_products = df.groupby('Product line')['Quantity'].sum().sort_values(ascending=False)
most_popular_products

Product line
Electronic accessories    971
Food and beverages        952
Sports and travel         920
Home and lifestyle        911
Fashion accessories       902
Health and beauty         854
Name: Quantity, dtype: int64

In [34]:
# Least Popular Products
least_popular_products = df.groupby('Product line')['Quantity'].sum().sort_values(ascending=True)
least_popular_products

Product line
Health and beauty         854
Fashion accessories       902
Home and lifestyle        911
Sports and travel         920
Food and beverages        952
Electronic accessories    971
Name: Quantity, dtype: int64

### Revenue Contribution by Product Line

In [35]:
# Revenue Contribution
revenue_contribution = df.groupby('Product line')['Total'].sum() / total_sales * 100
revenue_contribution

Product line
Electronic accessories    16.824497
Fashion accessories       16.814702
Food and beverages        17.384094
Health and beauty         15.231828
Home and lifestyle        16.677232
Sports and travel         17.067648
Name: Total, dtype: float64

## 5. Payment Analysis

### Sales by Payment Method

In [36]:
# Sales by Payment Method
sales_by_payment_method = df.groupby('Payment')['Total'].sum()
sales_by_payment_method

Payment
Cash           112206.570
Credit card    100767.072
Ewallet        109993.107
Name: Total, dtype: float64

## 6. Rating Analysis

### Average Rating by Product Line

In [37]:
# Average Rating by Product Line
average_rating_by_product_line = df.groupby('Product line')['Rating'].mean()
average_rating_by_product_line

Product line
Electronic accessories    6.924706
Fashion accessories       7.029213
Food and beverages        7.113218
Health and beauty         7.003289
Home and lifestyle        6.837500
Sports and travel         6.916265
Name: Rating, dtype: float64

### Rating Distribution

In [38]:
# Rating Distribution
rating_distribution = df['Rating'].value_counts()
rating_distribution

Rating
6.0     26
6.6     24
4.2     22
9.5     22
6.5     21
        ..
4.0     11
5.3     11
8.3     11
4.6      8
10.0     5
Name: count, Length: 61, dtype: int64

## 7. Branch Analysis

### Branch Performance

In [39]:
# Branch Performance
branch_performance = df.groupby('Branch').agg({'Total': ['sum', 'mean', 'count']})
branch_performance

              Total
                sum        mean count
Branch
A       106200.3705  312.354031   340
B       106197.6720  319.872506   332
C       110568.7065  337.099715   328

## 8. Profit Analysis

### Gross Profit and Profit Margin

In [40]:
# Gross Profit
df['Gross Profit'] = df['Total'] - df['cogs']
# Profit Margin
df['Profit Margin'] = (df['Gross Profit'] / df['Total']) * 100
gross_profit = df['Gross Profit'].sum()
profit_margin = df['Profit Margin'].mean()
gross_profit, profit_margin

(15379.368999999999, 4.761904761904762)