In [3]:
print(type(True))

<class 'bool'>

In [8]:
# Initialize list with various elements
x = [10, 20, 30, 'jkjhk', 11.2, [34, 33]]
print(x)

print(x[0])
x[0]=22
x.append([222,222])
print(x)
print(type(x))

[10, 20, 30, 'jkjhk', 11.2, [34, 33]]
10
[22, 20, 30, 'jkjhk', 11.2, [34, 33], [222, 222]]
<class 'list'>

In [11]:
x = (10, 20, 30, 'jkjhk', 11.2, [34, 33])

print(x)
print(x[0])
x[0]=22

(10, 20, 30, 'jkjhk', 11.2, [34, 33])
10

TypeError: 'tuple' object does not support item assignment

In [23]:
x=10
_x=10
xx_xx=10
d3434=10
X=11

In [27]:
x=0
if(x>1):
    print("x is greater than 1")
else:
    print("x is less than or equal to 1")

x is less than or equal to 1

In [44]:
x=50
if(x>10):
    print(x," is greater than 10")
    print(f"{x} is greater than 10")
    print(f"{x,x} is greater than 10")
elif(x==10):
    print("x is equal to 10")
elif(x==20):
    print("x is equal to 20")
elif(x==50):
    print("x is equal to 50")
else:
    print("x is less than 10")

50  is greater than 10
50 is greater than 10
(50, 50) is greater than 10

In [46]:
op='-'
x=10
y=20
country="india"
if(country=='india' and age >=18 or state==):

elif(op=='-'):
    print(x-y)

-10

In [47]:
age = 18
country= "india"

In [48]:
def addition():
    num1 = int(input("Enter the first number: "))
    num2 = int(input("Enter the second number: "))
    print("The sum of the two numbers is: ", num1 + num2)

In [49]:
addition()

The sum of the two numbers is:  23

In [54]:
def addition1(a,b,op):
    num1 = int(a)
    num2 = int(b)
    if(op=="+"):
        print("The sum of the two numbers is: ", num1 + num2)
    elif(op=="-"):
        print("the subtracted value of a and b is ..", num1-num2)

In [55]:
addition1(10,11,'-')

the subtracted value of a and b is .. -1