In [1]:
import mysql.connector
from mysql.connector import Error

In [34]:
def mydbcon():
    try:
        # Establish the connection
        connection = mysql.connector.connect(
            host='192.168.29.244',          # Replace with your MySQL server address
            database='a',   # Replace with your database name
            user='test01',       # Replace with your MySQL username
            password='test@123'    # Replace with your MySQL password
        )

        if connection.is_connected():
            print('Connected to MySQL Database')

    except Error as e:
            print(f"Error: {e}")
            if "Access denied" in str(e):
                print("Error: Invalid username or password")
            elif "Unknown database" in str(e):
                print("Error: Database does not exist")
            else:
                print(f"Error connecting to MySQL: {e}")
        
    # else:
    #     return connection
    
    # finally:
    #     if connection.is_connected():
    #         connection.close()
    #         print("MySQL connection is closed")
    return connection

In [22]:
print("connection established at :", mydbcon())

Connected to MySQL Database
connection established at : <mysql.connector.connection.MySQLConnection object at 0x0000023644AECFB0>

In [32]:
statement="select value1 from record;"
statement

'select value1 from record;'

In [33]:
con=mydbcon()
result=con.cursor()
# result.execute("SELECT * FROM table_name")
result.execute(statement)
listofresult=result.fetchall()
con.close()

print(listofresult)
print("")
for record in listofresult:
    print(record)
print("")
for record in listofresult:
    for r in range(len(record)):
        print("index value ", r ,record[r])

Connected to MySQL Database
[(12,), (234,), (1,), (11,), (222,)]

(12,)
(234,)
(1,)
(11,)
(222,)

index value  0 12
index value  0 234
index value  0 1
index value  0 11
index value  0 222