In [ ]:
# Python Libraries
# Scikit-learn (Sklearn): For machine learning, including classification, regression, clustering, and model evaluation

In [ ]:
# Random Sampling: Selecting random samples from a dataset.

In [1]:
import pandas as pd

df = pd.DataFrame({'A': range(10), 'B': range(10, 20)})
sample = df.sample(n=3)
print(sample)

   A   B
1  1  11
2  2  12
5  5  15

In [ ]:
# Stratified Sampling: Ensuring samples are drawn proportionally from different subgroups (strata).

In [8]:
df

   A   B
0  0  10
1  1  10
2  2  10
3  3  10
4  4  10
5  5  15
6  6  15
7  7  15
8  8  15
9  9  15

In [13]:
from sklearn.model_selection import train_test_split

X = df[['A']]
y = df['B']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

print(X_train)
print(y_train)
print(X_test)
print(y_test)

   A
4  4
2  2
0  0
1  1
7  7
3  3
9  9
8  8
4    10
2    10
0    10
1    10
7    15
3    10
9    15
8    15
Name: B, dtype: int64
   A
6  6
5  5
6    15
5    15
Name: B, dtype: int64

In [14]:
df = pd.DataFrame({'A': range(10), 'B': [10]*5 + [15]*5})
X = df[['A']]
y = df['B']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y)


print(X_train)
print(y_train)
print(X_test)
print(y_test)

   A
7  7
8  8
6  6
1  1
4  4
0  0
3  3
5  5
7    15
8    15
6    15
1    10
4    10
0    10
3    10
5    15
Name: B, dtype: int64
   A
9  9
2  2
9    15
2    10
Name: B, dtype: int64